<%

const sidebars = [
  {
    name: 'category',
    path: '/admin/index',
    lang: 'admin.sidebar.category' 
  }, 
  {
    name: 'user_manager',
    path: '/admin/user-manager',
    lang: 'admin.sidebar.user_manager' 
  }
]

const active = sidebars.find(s => s.path === locals.req.path)?.name || 'category'

%>

<style>
  .list-group-item[active]  {
    color: black !important;
    font-weight: bold;
  }

  .list-group-item.a {
    color: black !important;
  }
</style>
<div class="list-group">
  <% for (const element of sidebars) { %>
    <a class="list-group-item  text-decoration-none " <%= active === element.name ? 'active' : '' %>  href="<%= element.path %>">
      <div class="cursor-pointer">   <%= i18n(element.lang) %>  </div>
    </a>
  <%  } %>
</div>