<style>
  
  .list-group-item[active] a {
    color: black !important;
    font-weight: bold;
  }

  .list-group-item a {
    color: black !important;
  }
</style>
<ul class="list-group">
  <% for (const element of ['category:/admin/index', 'general_setting:/admin/general_setting']) { %>
  <li class="list-group-item cursor-pointer" <%= active === element.split(':')[0] ? 'active' : '' %>> <a class="text-decoration-none " href="<%=  element.split(':')[1] %>"><%= i18n('admin.sidebar.' + element.split(':')[0]) %></a> </li>
  <%  } %>
</ul>