<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <span>
    <%= i18n('_dict_.no_login') %>
  </span>
</a>
<ul class="dropdown-menu text-small">
  <li><a class="dropdown-item" href="/passport/login"><i class="bi bi-box-arrow-in-left"></i> <%= i18n('_dict_.login') %></a></li>
  <li><a class="dropdown-item" href="/passport/register"><i class="bi bi-door-open"></i> <%= i18n('_dict_.register') %></a></li>
</ul>