<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/views/header') %>
  <title><%=locals.settings.name%></title>
</head>

<body>
  <%- include('/views/menus') %>
  <div class=" container p-0">
    <div class="m-auto user">
       111
    </div>
  </div>

</body>

</html>