<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/views/header') %>
  <title><%=locals.settings.name%></title>
</head>

<body>
  <%- include('/views/menus') %>
  <div class="container">
    111
  </div>
</body>

</html>